@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: slategray;
}

.hide {
  display: none;
}

img {
  max-width: 300px;
}

.pinsDescr{
  font-style: italic;
  font-size: small;
}